@import "../../../styles/variables";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    font-family: "Bebas Neue";
    font-weight: 200;
    font-size: 5rem;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    font-weight: 200;
    font-size: 1.75rem;
    margin-top: 0.25rem;
    margin-bottom: 3rem;
  }
}
